@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.greetingContainer {
  text-align: center;
  animation: shiftIn 1s ease-out;
  align-items: center;
  justify-content: center;
  margin-top: 18rem;
}

.greetingMain {
  margin-left: -17rem;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #92d9f3;
}

.greetingSub {
  font-size: 41px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #000000;
}

.greetingSub1 {
  margin-left: -4rem;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #000000;
}

@keyframes shiftIn {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
