@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

nav {
  background-color: #0b0912; // Set your desired background color
  padding: 1rem; // Adjust the padding as needed
  display: flex;
  justify-content: flex-end;

  ul {
    list-style: none;
    padding: 0;
    align-items: end;

    li {
      display: inline-block;
      margin-right: 4rem; // Adjust the spacing between menu items
      font-size: 16px; // Set the font size
      font-family: "Montserrat", sans-serif;

      a {
        text-decoration: none; // Remove underline from links
        color: white; // Set the link color

        &:hover {
          color: #4717F6; // Change the color on hover
        }
      }
    }
  }
}
