@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

nav {
  background-color: #1e1f1f;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  padding-left: 2.5%;

  ul {
    list-style: none;
    padding: 0;
    align-items: end;

    li {
      font-family: "Montserrat", sans-serif;
      display: inline-block;
      margin-right: 6rem;
      font-size: 14px;
      font-weight: 401;

      a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 15px;
        box-sizing: border-box; 

        &:hover {
          color: #ececec;
        }
      }
    }
  }
}
