@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

nav {
  background-color: #1e1f1f; // Set your desired background color
  padding: 0.2rem; // Adjust the padding as needed
  display: flex;
  justify-content: center;
  padding-left: 2.5%;

  ul {
    list-style: none;
    padding: 0;
    align-items: end;

    li {
      display: inline-block;
      margin-right: 6rem;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;

      a {
        text-decoration: none; // Remove underline from links
        color: #ffffff; // Set the link color

        &:hover {
          color: #ececec; // Change the color on hover
        }
      }
    }
  }
}
